<div class="row">
    <div class="columns small-12 text-center">
        <h1>
            Ingresa a correos!
            <br>                                                                     
            <small>Para disfruta de la mejor experiencia urbana de envios</small>

        </h1>
    </div>
</div>
<div class="row">
    <hr>
    <div class="col-md-4"></div>
    <div class="col-md-4"> 
        <p style="text-align: left;">
            <strong>Correo</strong> 
            <br>
            <input type="email" name="correo" id="correo" placeholder="Ingresa usando tu correo!" value="" tabindex="1" style="width: 300px;" ng-model="data.correo">
            <br>
            <strong>Contraseña</strong> 
            <br>
            <input type="password" name="password" id="password" placeholder="contraseña" value="" tabindex="1" style="width: 300px;" ng-model="data.password">
            <br>
            <a ui-sref="signup" class="sign-link">Aún no eres parte de nosotros? Unete!</a>
        </p>

    </div>
    <div class="col-md-2"></div>
</div>
<br>
<div class="btn-group" style="text-align:center">
<select class="form-control" name="singleSelect" id="singleSelect" ng-model="data.role" required="true" style="text-align: center">
           <option value="">--- Como eres parte de nosotros? ---</option> <!-- not selected / blank option -->
           <option value="administrador">administrador</option>
           <option value="cliente">cliente</option>
           <option value="mensajero">mensajero</option>
        </select>
</div>

<br>
<br>
<div style="text-align: center">
    <button type="button" class="btn btn-dark" style="width: 300px" ng-click="autenticar()">Ingresar</button>
</div>