<div class="jumbotron">
  		<div class="container text-center">
                    <h1>Bienvenido a <B class="dorado">Hermes</B></h1>

  			<p>...</p>
                        <br>
                        <p>{{currentUser}}</p>
  			<div class="btn-group">
  				<a ui-sref="mensajerosList" class="btn btn-lg btn-info" ng-if="isAuthenticated()&&hasPermissions()">Mensajeros</a>
  				<a ui-sref="clientesList" class="btn btn-lg btn-info" ng-if="isAuthenticated()&&hasPermissions()">Clientes</a>
  				<a ui-sref="reservasList" class="btn btn-lg btn-info" ng-if="isAuthenticated()">Reservas</a>
                                <a ui-sref="cuentasBancariasList" class="btn btn-lg btn-info" ng-if="isAuthenticated()&&hasPermissions()">Cuentas</a>
                                <a ui-sref="enviosList" class="btn btn-lg btn-info" ng-if="isAuthenticated()">Envios</a>
                                <a ui-sref="zonasList" class="btn btn-lg btn-info" ng-if="isAuthenticated()">Zonas</a>
  			</div>
                       
  		</div><!-- End container -->
  	</div><!-- End jumbotron-->

        <!-- Feedback-->
  	<div class="container">
  		<section>
  			<div class="page-header" id="feedback">
  				<h2 class="dorado">Comentarios.<small> Conozca la opinión de nuestros diferentes clientes</small></h2>
  			</div>

  			<div class="row">
  				<div class="col-md-4">
  					<blockquote>
  						<p>Me encanta. La página me párece muy sencilla de usar. Puedo hacer los envios que desee de forma rápida y efectiva, sin importar el tamaño del paquete. No puedo estar más contenta :D</p>
  						<footer class="blockquote-footer dorado" >En Bogotá DC por <cite title="Source Title">Juliana Leon</cite></footer>
  					</blockquote>
  				</div>
  				<div class="col-md-4">
  					<blockquote>
  						<p>No me convenció del todo. Luego de hacer el envio el mensajero demoró en llegar, y no reportó ningun problema en la página. Lo bueno es que el paquete llego a salvo y pude calificar al mensajero de modo que los demas usuarios sepan que llego tarde.</p>
  						<footer class="blockquote-footer dorado" >En Bogotá DC por <cite title="Source Title">Armando Fuentes</cite></footer>
  					</blockquote>
  				</div>
  				<div class="col-md-4">
  					<blockquote>
  						<p>Es un buen incio para este servicio que debuta en el mercado. Pocas compañías ofrecen la seguridad y la confianza que Correos ofrece. Estaba tranquilo con respecto a la integridad de mi paquete y la puntualidad del envío.</p>
  						<footer class="blockquote-footer dorado" >En Bogotá DC por <cite title="Source Title">Julian Vargas</cite></footer>
  					</blockquote>
  				</div>
  			</div><!-- End row -->
  		</section>
  	</div><!--End Container-->

        <!-- Gallery -->
	<div class="container">
		<section>
			<div class="page-header" id="gallery">
  				<h2 class="dorado">Galeria.<small> Aprecia nuestras mejores fotos</small></h2>
  			</div>

  			<div class="carousel slide" id="screenshot-carousel" data-ride="carousel">
  				<ol class="carousel-indicators">
  					<li data-target="!#screenshot-carousel" data-slide-to="0" class="active"></li>
  					<li data-target="!#screenshot-carousel" data-slide-to="1"></li>
  					<li data-target="!#screenshot-carousel" data-slide-to="2"></li>
  					<li data-target="!#screenshot-carousel" data-slide-to="3"></li>
  				</ol>
  				<div class="carousel-inner">
  					<div class="item active">
  						<img src="src\images\regalito.jpg"  alt="Text of the image">
  						<div class="carousel-caption">
                                                    <h3><b>NO IMPORTA EL TAMAÑO</b></h3>
                                                    <p><b>En Correos nos comprometemos a enviar lo que sea</b> <br>
                                                        (Mientras sea legal y viable)
                                                    </p>
  						</div>
  					</div>
  					<div class="item">
                                            <img src="src\images\mensajero.jpg" alt="Text of the image">
  						<div class="carousel-caption">
                                                    <h3><b>MENSAJEROS COMPROMETIDOS </b></h3>
                                                    <p><b>Nuestros mensajeros comprenden la importancia de tu envío,y trabajan con esto en mente. <br>
                                                            Puntualidad, calidad y esfuerzo
                                                        </b></p>
  						</div>
  					</div>
  					<div class="item">
  						<img src="src\images\mapa.jpg" alt="Text of the image">
  						<div class="carousel-caption">
                                                    <h3><b>SOLO DINOS DONDE ESTAS</b></h3>
                                                    <p><b>Correos se adapta a tus necesidades. <br> Te aseguramos mensajeros cercanos y disponibles.</b></p>
  						</div>
  					</div>
  					<div class="item">
  						<img src="src\images\calle.jpg" alt="Text of the image">
  						<div class="carousel-caption">
                                                    <h3><b>¿NO QUIERES SALIR?</b></h3>
                                                    <p><b>Nosotros llegamos a donde estes, solo dinos a donde ir</b></p>
  						</div>
  					</div>

  				</div><!-- End Carousel inner -->
  				<a href="!#screenshot-carousel" class="left carousel-control" data-slide="prev">
  					<span class="glyphicon glyphicon-chevron-left"></span>
  				</a>
  				<a href="!#screenshot-carousel" class="right carousel-control" data-slide="next">
  					<span class="glyphicon glyphicon-chevron-right"></span>
  				</a>
  			</div><!-- End Carousel -->

		</section>
        </div>
	
        
        <!-- features -->
	<div class="container">
		<section>
			<div class="page-header" id="features">
  				<h2 class="dorado">Funcionalidades.<small> Qué hacemos. Cómo lo hacemos</small></h2>
  			</div><!-- End Page Header -->

  			<div class="row">
  				<div class="col-sm-8">
                                    <h3><b>Planea tus envios</b></h3>
                                        <p>En correos te ofrecemos un servicio de envios facil y rápido en el cual, con unos simples pasos podras hacer tus paquetes a cualquier lugar de Bogotá DC <br>
                                            <br>
                                            <br>
                                            <b>1) </b>Dinos donde estas!<br>
                                            <br>
                                            <b>2) </b>Cuentanos que debemos llevar <br>
                                            <br>
                                            <b>3) </b>Adónde lo debemos llevar<br>
                                            <br>
                                            <b>4) </b>Selecciona el mensajero que desees<br>
                                            <br>
                                            
                                        </p>
  				</div>
  				<div class="col-sm-4">
                                    <img src="src\images\caja.png" class="img-responsive imgall" alt="image">
  				</div>
  			</div><!-- End row -->
  			<div class="row">
  				<div class="col-sm-8">
                                    <h3><b>Sabemos donde estas; sabemos que hacer</b></h3>
                                        <p>Correos funciona y se adapta segun la posición en la cual te encuentres. Te ofrecemos aquellos mensajeros que esten mejor ubicados para llegar a tiempo a recoger el paquete, ademas de contar con los recursos para cumplir con las necesidades de tu paquete.</p>
  				</div>
  				<div class="col-sm-4">
  					<img src="src\images\gps.png" width="256" height="256" class="img-responsive imgall" alt="image">
  				</div>
  			</div>
  			<div class="row">
  				<div class="col-sm-8">
                                    <h3><b>Paga fácil y rápido</b></h3>
  					<p>Hermes se preocupa por tu comodidad, por eso además de poder quedarte en casa no deberás de preocuparte por el método de págo. <br> <br>Simplemente registrando un tarjeta de credito válida podrás realizar todos los envios que desees, Hermes se encargara de efectuar el pago con la tarjeta registrada. </p>
  				</div>
  				<div class="col-sm-4">
  					<img src="src\images\TCredito.jpg" width="300" height="300" class="img-responsive imgall" alt="image">
  				</div>
  			</div>

  			<hr>

  			<div class="row">
  				<div class="col-sm-4">
  					<div class="panel panel-default text-center">
  						<div class="panel-body">
  							<span class="glyphicon glyphicon-ok"></span>
  							<h4>Nos adaptamos a tu páquete</h4>
  							<p>Durante la planeación del envío podran especificar las caracteristicas de tu páquete con el fin de que nuestro mensajero cuente con el transporte y los recursos adecuados para transportarlo de manera segura. </p>
  						</div>
  					</div>
  				</div>

  				<div class="col-sm-4">
  					<div class="panel panel-default text-center">
  						<div class="panel-body">
  							<span class="glyphicon glyphicon-star"></span>
  							<h4>Sistema de calificaciones</h4>
  							<p>Como usuario podra calificar y consultar calificaciones de mensajeros. De esta manera entre los usuarios se creará un sistema de filtración para solo usar a los mensajeros de calidad.</p>
  						</div>
  					</div>
  				</div>

  				<div class="col-sm-4">
  					<div class="panel panel-default text-center">
  						<div class="panel-body">
  							<span class="glyphicon glyphicon-play-circle"></span>
  							<h4>Somos una comunidad, invita a tus amigos</h4>
  							<p>Hermes te da la posibilidad de invitar amigos a la plataforma. Si lo haces, obtendras descuentos increibles.</p>
  						</div>
  					</div>
  				</div>
  			</div><!-- end row -->

		</section>
	</div><!-- End Container -->
        
        <!-- Faq -->

    <div class="container">
      <section>
        <div class="page-header" id="faq">
          <h2 class="dorado">FAQ.<small> Atentos a tus inquietudes</small></h2>
        </div><!-- End Page Header -->

        <div class="panel-group" id="accordion">
          <div class="panel panel-default">
            <div class="panel-heading">
              <div class="panel-title">
                <a href="!#collapse-1" data-toggle="collapse" data-parent="#accordion">
                  ¿Qué debo hacer si mi pedido es fragil?
                </a>
              </div><!-- End panel title -->
              <div id="collapse-1" class="panel-collapse collapse">
                <div class="panel-body">
                  Asegurate de hacerlo explicito en las caracteristicas del paquete de forma que nuestro mensajero sea consciente de ello.
                </div>
              </div><!-- End Panel collapse -->
            </div>
          </div>

          <div class="panel panel-default">
            <div class="panel-heading">
              <div class="panel-title">
                <a href="!#collapse-2" data-toggle="collapse" data-parent="#accordion">
                  ¿Por qué aun no llega mi pedido?
                </a>
              </div><!-- End panel title -->
              <div id="collapse-2" class="panel-collapse collapse">
                <div class="panel-body">
                  A lo largo del envío, si se presento algún inconveniente el mensajero le debió haber reportado. Asegurate de revisar los reportes de tus mensajeros para conocer la razón de la demora.
                </div>
              </div><!-- End Panel collapse -->
            </div>
          </div>

          <div class="panel panel-default">
            <div class="panel-heading">
              <div class="panel-title">
                <a href="!#collapse-3" data-toggle="collapse" data-parent="#accordion">
                  ¿Qué mensajero debo escoger?
                </a>
              </div><!-- End panel title -->
              <div id="collapse-3" class="panel-collapse collapse">
                <div class="panel-body">
                  Hermes filtra el resultado del mensajero segun tu ubicación. Elige aquel que consideres tenga una buena calificación y cuente con el transporte apropiado para tu páquete.
                </div>
              </div><!-- End Panel collapse -->
            </div>
          </div>
        </div><!-- End panel group -->

      </section>
    </div><!-- End container -->
        