<alert class="alert alert-danger" ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert()">{{alert.msg}} </alert>
<div class="container-fluid">    
    <table class="table table-striped col-md-4">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Celular</th>
                <th>Correo</th>
                <th>Calificación Promedio</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="record in mensajerosRecords">

                <td id="{{$index}}-nombre" > <a ui-sref="mensajeroDetail({mensajeroId: record.id})">{{record.nombre}}</a></td>
                <td id="{{$index}}-celular">{{record.celular}}</td>
                <td id="{{$index}}-celular">{{record.correo}}</td>
                <td id="{{$index}}-calificacionPromedio">{{record.calificacionPromedio}}</td>
                <td>
                    <button id="{{$index}}-edit-btn" class="btn btn-default btn-sm" ><span class="glyphicon glyphicon-edit"></span> Edit</button>
                    <button id="{{$index}}-delete-btn" class="btn btn-default btn-sm"><span class="glyphicon glyphicon-minus"></span> Remove</button>

                </td>
            </tr>
        </tbody>
    </table>
    <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
        <div class="btn-group mr-2" role="group" aria-label="First group">
            <a class="btn btn-info" ui-sref="mensajeroCreate"><span class="glyphicon glyphicon-plus-sign"></span> Contrate a otro socito :v</a>
        </div>
    </div>
</div>