<alert class="alert alert-danger" ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert()">{{alert.msg}} </alert>
 <div class="container-fluid">
    <div class="panel-group">
        <div class="panel panel-primary">
         
               
            <div class="panel-body">
                <form  name="transporte">
                    
                    <div class="form-group row">
                        <div class="form-group col-md-12">
                            <label for="tipoTransporte" class="col-sm-2">Tipo :</label>
                            <input id="tipoTransporte" required ng-model="data.tipo" class="col-sm-6"/>
                    </div>
                    
                    <div class="form-group row">
                        <div class="form-group col-md-12">
                            <label for="capacidadTransporte" class="col-sm-2">Capacidad :</label>
                            <input id="correoTransporte" required ng-model="data.capacidad" class="col-sm-6"/>
                        </div>
                    </div>                               
                    
                    <div class="form-group row">
                        <div class="form-group col-sm-6" ng-if="!transporte.$valid">

                            <div class="alert alert-warning" >
                                <strong>Error!</strong><p>Se requieren todos los campos!</p>
                            </div> 
                        </div> 
                    </div> 
                    <div class="form-group row">
                        <div class="form-group col-sm-4">
                            <input ng-click=createTransporte() ng-show="transporte.$valid" value="Save" class="btn btn-success"/>
                            <a class="btn btn-info" ui-sref="transportesList"> Cancel </a>
                        </div>
                    </div>
                </form>

            </div>
        </div>
    </div>
</div>

