 <alert class="alert alert-danger" ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert()">{{alert.msg}} </alert>
 <div class="container-fluid">
    <div class="panel-group">
        <div class="panel panel-primary">
         
               
            <div class="panel-body">
                <form  name="envio">
                    
                    <div class="form-group row">
                        <div class="form-group col-md-12">
                            <label for="estadoEnvio" class="col-sm-2">Estado :</label>
                            <input id="estadoEnvio" required ng-model="data.estado" class="col-sm-6"/>
                    </div>
                    
                    <div class="form-group row">
                        <div class="form-group col-md-12">
                            <label for="horaFinalEnvio" class="col-sm-2">HoraFinal :</label>
                            <input id="horaFinalEnvio" required ng-model="data.horaFinal" class="col-sm-6"/>
                        </div>
                    </div>  
                        
                    <div class="form-group row">
                        <div class="form-group col-md-12">
                            <label for="horaInicioEnvio" class="col-sm-2">HoraInicio :</label>
                            <input id="horaInicioEnvio" required ng-model="data.horaInicio" class="col-sm-6"/>
                        </div>
                    </div> 
                        
                    <div class="form-group row">
                        <div class="form-group col-md-12">
                            <label for="direccionEntregaEnvio" class="col-sm-2">DireccionEntrega :</label>
                            <input id="direccionEntregaEnvio" required ng-model="data.direccionEntrega" class="col-sm-6"/>
                        </div>
                    </div> 
                        
                    <div class="form-group row">
                        <div class="form-group col-md-12">
                            <label for="direccionRecogidaEnvio" class="col-sm-2">DireccionRecogida :</label>
                            <input id="direccionRecogidaEnvio" required ng-model="data.direccionRecogida" class="col-sm-6"/>
                        </div>
                    </div> 
                        
                    <div class="form-group row">
                        <div class="form-group col-sm-6" ng-if="!envio.$valid">

                            <div class="alert alert-warning" >
                                <strong>Error!</strong><p> Where u at?</p>
                            </div> 
                        </div> 
                    </div> 
                    <div class="form-group row">
                        <div class="form-group col-sm-4">
                            <input ng-click=createEnvio() ng-show="envio.$valid" value="Save" class="btn btn-success"/>
                            <a class="btn btn-info" ui-sref="enviosList">Cancel</a>
                        </div>
                    </div>
                </form>

            </div>
        </div>
    </div>
</div>

