<alert class="alert alert-danger" ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert()">{{alert.msg}} </alert>
<div class="container-fluid">    
    <table class="table table-striped col-md-4">
        <thead>
            <tr>
                <th>Estado</th>
                <th>Hora Final</th>
                <th>Hora Incio</th>
                <th>Direccion Recogida</th>
                <th>Direccion Entrega</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="record in enviosRecords">

                <td id="{{$index}}-estado" > <a ui-sref="envioDetail({envioId: record.id})">{{record.estado}}</a></td>
                <td id="{{$index}}-horaInicio">{{record.horaInicio}}</td>
                <td id="{{$index}}-horaFinal">{{record.horaFinal}}</td>
                <td id="{{$index}}-direccionRecogida">{{record.direccionRecogida}}</td>
                <td id="{{$index}}-direccionEntrega">{{record.direccionEntrega}}</td>
                <td>
                    <button id="{{$index}}-edit-btn" class="btn btn-default btn-sm" ><a ui-sref="envioUpdate({envioId: record.id})"><span class="glyphicon glyphicon-edit"></span>Editar</a></button>
                    <button id="{{$index}}-delete-btn" class="btn btn-default btn-sm"><a ui-sref="envioDelete({envioId: record.id})"><span class="glyphicon glyphicon-minus"></span>Matar</a></button>

                </td>
            </tr>
        </tbody>
    </table>
    <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
        <div class="btn-group mr-2" role="group" aria-label="First group">
            <a class="btn btn-info" ui-sref="envioCreate"><span class="glyphicon glyphicon-plus-sign"></span>Crear un nuevo Envio!</a>
        </div>
    </div>
</div>
