<alert class="alert alert-danger" ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert()">{{alert.msg}} </alert>
<div class="container-fluid">    
    <table class="table table-striped col-md-4">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Correo</th>
                <th>Telefono</th>
              
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="record in clientesRecords">

                <td id="{{$index}}-nombre" > <a ui-sref="clienteDetail({clienteId: record.id})">{{record.nombre}}</a></td>
               <td id="{{$index}}-correo">{{record.correo}}</td>
                <td id="{{$index}}-telefono">{{record.telefono}}</td>
                <td>
                    <button id="{{$index}}-edit-btn" class="btn btn-default btn-sm" ><a ui-sref="clienteUpdate({clienteId: record.id})"><span class="glyphicon glyphicon-edit"></span> Editar</a></button>
                    <button id="{{$index}}-delete-btn" class="btn btn-default btn-sm"><a ui-sref="clienteDelete({clienteId: record.id})"><span class="glyphicon glyphicon-minus"></span> Remove</a></button>

                </td>
            </tr>
        </tbody>
    </table>
    <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
        <div class="btn-group mr-2" role="group" aria-label="First group">
            <a class="btn btn-info" ui-sref="clienteCreate"><span class="glyphicon glyphicon-plus-sign"></span>Conviertete en usuario! </a>
        </div>
    </div>
</div>