 <alert class="alert alert-danger" ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert()">{{alert.msg}} </alert>
 <div class="container-fluid">
    <div class="panel-group">
        <div class="panel panel-primary">
         
               
            <div class="panel-body">
                <form  name="cliente">
                    
                    <div class="form-group row">
                        <div class="form-group col-md-12">
                            <label for="nombreCliente" class="col-sm-2">Nombre :</label>
                            <input id="nombreCliente" required ng-model="data.nombre" class="col-sm-6"/>
                             <label for="correoCliente" class="col-sm-2">Correo :</label>
                            <input id="correoCliente" required ng-model="data.correo" class="col-sm-6"/>
                             <label for="telefonoCliente" class="col-sm-2">Telefono :</label>
                            <input id="telefonoCliente" required ng-model="data.telefono" class="col-sm-6"/>
                            
                             <label for="passwordCliente" class="col-sm-2">Password :</label>
                            <input id="passwordCliente" required ng-model="data.password" class="col-sm-6"/>
                    </div>
                    
               
                    <div class="form-group row">
                        <div class="form-group col-sm-6" ng-if="!cliente.$valid">

                            <div class="alert alert-warning" >
                                <strong>Error!</strong><p>Se requieren todos los campos</p>
                            </div> 
                        </div> 
                    </div> 
                    <div class="form-group row">
                        <div class="form-group col-sm-4">
                            <input ng-click=createCliente() ng-show="cliente.$valid" value="Save" class="btn btn-success"/>
                            <a class="btn btn-info" ui-sref="clientesList">Cancel</a>
                        </div>
                    </div>
                </form>

            </div>
        </div>
    </div>
</div>

