<alert class="alert alert-danger" ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert()">{{alert.msg}} </alert>
 <div class="container-fluid">
    <div class="panel-group">
        <div class="panel panel-primary">
         
               
            <div class="panel-body">
                <form  name="reserva">
                    
                    <div class="form-group row">
                        <div class="form-group col-md-12">
                            <label for="fechaReserva" class="col-lg-2">Fecha :</label>
                            <input id="fechaReserva" required ng-model="data.fecha" class="col-sm-6"/>  (YYYY-MM-DD HH:MM:SS)
                    </div>    
                        <div class="form-group row">
                        <div class="form-group col-md-12">
                            <label for="fechaReserva" class="col-lg-2">Hora :</label>
                            <input id="fechaReserva" required ng-model="data.hora" class="col-sm-6"/>  
                    </div> 
                    
                    <div class="form-group row">
                        <div class="form-group col-sm-6" ng-if="!reserva.$valid">

                            <div class="alert alert-warning" >
                                <strong>Error!</strong><p>Se requieren todos los campos!</p>
                            </div> 
                        </div> 
                    </div> 
                    <div class="form-group row">
                        <div class="form-group col-sm-4">
                            <input ng-click=createReserva() ng-show="reserva.$valid" value="Save" class="btn btn-success"/>
                            <a class="btn btn-info" ui-sref=reservasList"> Cancel </a>
                        </div>
                    </div>
                </form>

            </div>
        </div>
    </div>
</div>